{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Ecological Party of Uganda</span></h2>
          <p>Founded and fully registered in Uganda
            under Political Parties and organization Act Number
            18 of 2005 with registration certificate number
            13 on 13th August, 2009.</p>
            <p>EPU is a member of Eastern Africa Greens Federation,
              African Greens Federation and Global Greens.
              The party is the only party in Uganda with
              highest number of regional and international partners
               who subscribe to Green ideology.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">See More</a>
            <a href="https://www.youtube.com/watch?v=AiwfiZrG2wk" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'main/assets/img/logo.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'main/assets/img/logo.png' %}" alt="EPU" width="60" height="60"></div>
              <h4 class="title"><a href="" class="stretched-link">Ecological Party of Uganda</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'main/assets/img/clients/eagf.jpg' %}" alt="EAGF" width="60" height="60"></div>
              <h4 class="title"><a href="" class="stretched-link">East African Greens Federation</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'main/assets/img/clients/agf.jpg' %}" alt="AGF" width="60" height="60"></div>
              <h4 class="title"><a href="" class="stretched-link">African Greens Federation</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'main/assets/img/clients/global.png' %}" alt="Global Greens" width="60" height="60"></div>
              <h4 class="title"><a href="" class="stretched-link">Global Greens</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>The goal of the Party shall be the establishment
            of a truly united and peaceful Uganda and the
            empowerment of the people of Uganda to determine
            a better quality of life for all Ugandans.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3><i>“Peaceful Co-existence for Sustainable Development”</i></h3>
            <center><img src="{% static 'main/assets/img/all/hands.jpg' %}" class="img-fluid rounded-4 mb-4" alt="" style="max-height: 400px;"></center>
            <p>EPU was founded and fully registered in Uganda under Political Parties and organization Act Number 18 of 2005 with registration certificate number 13 on 13th August, 2009.</p>
            <p>EPU is a member of Eastern Africa Greens Federation,
              African Greens Federation and Global Greens.
              The party is the only party in Uganda with
              highest number of regional and international partners
               who subscribe to Green ideology.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <h3>Our Principles:</h3>
              <p class="fst-italic">
                EPU is guided by the principles of green politics notably;
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ecological Wisdom.</li>
                <li><i class="bi bi-check-circle-fill"></i> Social Justice.</li>
                <li><i class="bi bi-check-circle-fill"></i> Participatory Democracy.</li>
                <li><i class="bi bi-check-circle-fill"></i> None Violence.</li>
                <li><i class="bi bi-check-circle-fill"></i> Sustainability.</li>
                <li><i class="bi bi-check-circle-fill"></i> Respect for Diversity.</li>
              </ul>
              <p>
                As a Greens Political Party we do various activities to maintain the environment.
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'main/assets/img/all/thinkgreen.png' %}" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=AiwfiZrG2wk" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/watch?v=AiwfiZrG2wk" class="glightbox play-btn"></a>
        <h3>Call To Action</h3>
        <p> Ecological Party of Uganda calls upon Ugandans, and the government to act swiftly to manage the uncontrolled dumping of plastic wastes in lakes like Lake Victoria, plant more trees, avoid construction in swamps and pther activities that pollute our environment.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="principles" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Principles</h2>
          <p>Ecological Party of Uganda is guided by the principles of green politics notably.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>Ecological Wisdom</h3>
              <p>We acknowledge that human beings are part of the natural world and we respect the specific values of
                all forms of life, including non-human species.
                We acknowledge the wisdom of the indigenous peoples of the world, as custodians of the land and its
                resources.
                We acknowledge that human society depends on the ecological resources of the planet, and must
                ensure the integrity of ecosystems and preserve biodiversity and the resilience of life supporting systems.
              </p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Social Justice</h3>
              <p>We assert that the key to social justice is the equitable distribution of social and natural resources, both
                locally and globally, to meet basic human needs unconditionally, and to ensure that all citizens have full
                opportunities for personal and social development.
                We declare that there is no social justice without environmental justice, and no environmental justice
                without social justice.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Participatory Democracy</h3>
              <p>
                We strive for a democracy in which all citizens have the right to express their views, and are able to directly
participate in the environmental, economic, social and political decisions which affect their lives; so that
power and responsibility are concentrated in local and regional communities, and devolved only where
essential to higher tiers of governance.
              </p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>None Violence</h3>
              <p>We declare our commitment to nonviolence and strive for a culture of peace and cooperation between
                states, inside societies and between individuals, as the basis of global security.
                We believe that security should not rest mainly on military strength but on cooperation, sound economic
                and social development, environmental safety, and respect for human rights.
              </p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Sustainability</h3>
              <p>We recognize the limited scope for the material expansion of human society within the biosphere, and
                the need to maintain biodiversity through sustainable use of renewable resources and responsible use of
                non-renewable resources.
                We believe that to achieve sustainability, and in order to provide for the needs of present and future
                generations within the finite resources of the earth, continuing growth in global consumption, population
                and material inequity must be halted and reversed.
              </p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>Respect for Diversity</h3>
              <p>We honour cultural, linguistic, ethnic, sexual, religious and spiritual diversity within the context of individual
                responsibility towards all beings.
                We defend the right of all persons, without discrimination, to an environment supportive of their dignity,
                bodily health, and spiritual well-being
                We promote the building of respectful, positive and responsible relationships across lines of division in the
                spirit of a multi-cultural society.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Canditates Section ======= -->
    <section id="candidates" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Electoral Canditates</h2>
          <p>As a registered political party we offer qualified persons a chance to contest on our Party Ticket. Below are some of the candidates that contested in various elections</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-2016">2016</li>
              <li data-filter=".filter-2021">2021</li>
            </ul><!-- End Portfolio Filters -->
          </div>
          <div class="row gy-4 portfolio-container">
            {% for candidate in candidates %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-{{candidate.year}}">
              <div class="portfolio-wrap">
                <a href="{{candidate.poster.url}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{candidate.poster.url}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="#" title="More Details">{{candidate.position}}</a></h4>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="members" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Member</h2>
          <p>EPU is made up of great activists and politicians and entry to the party is widely open to any one.</p>
        </div>

        <div class="row gy-4">
          {% for member in members %}
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{{member.image.url}}" class="img-fluid" alt="">
              <h4>{{member.get_fullname}}</h4>
              <span>{{member.role}}</span>
              <div class="social">
                <a href="{{member.twitter}}"><i class="bi bi-twitter"></i></a>
                <a href="{{member.facebook}}"><i class="bi bi-facebook"></i></a>
                <a href="{{member.instagram}}"><i class="bi bi-instagram"></i></a>
                <a href="{{member.linkedin}}"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="news" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>News & Updates</h2>
          <p>This is were to find more about all party activities, news and updates.</p>
        </div>

        <div class="row gy-4">
          {% for post in news %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{{post.thumbnail.url}}" alt="{{post.title}}" class="img-fluid">
              </div>

              <p class="post-category">{{post.category}}</p>

              <h2 class="title">
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{{post.author.image.url}}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{post.author.get_fullname}}</p>
                  <p class="post-date">
                    <time datetime="{{post.authored_at}}">{{post.authored_at}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>At Ecological Party of Uganda we are delighted to know that you desire to reach out to us, please use the available means below and we shall respond within 24hours.</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>ECO Building, Rubeire road, P.O.Box 42 Kampala, Uganda</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>ecologicalpartyofuganda@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+256(0)701-689948, +256(0)776-944444</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 7:30AM - 5:30PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}